/* products.module.css */

.title {
    margin-left: 15px;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
  
  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .video {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
  }
  
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .text h4 {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0 auto;
  }
  
  .text p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto;
    width: 80%;
  }
  
  .text button {
    border: 2px solid grey;
    background-color: white;
    font-weight: bolder;
    color: grey;
    margin: 30px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .text button:hover {
    background-color: #89ADA3;
    color: white;
    border-color: #89ADA3;
  }
  
  @media (max-width: 768px) {
    .video {
      width: 90%;
      max-width: 90%;
      height: auto;
      margin: auto;
    }
  
    .text button {
      margin: 20px;
    }
  }
  