    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 200px;
    }
    .tittle {
        font-family: "Pathway Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .about {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 1.6;
       
    }
    
    .brand {
        display: inline;
        font-family: "Pathway Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        color: #89ADA3;
    }
    