/* footer.module.css */

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .left,
  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 600px; /* Ajusta el ancho máximo para dispositivos más pequeños */
  }
  
  .left {
    align-items: start;
    margin-left: 20px; /* Ajusta el margen izquierdo para dispositivos más grandes */
  }
  
  .right {
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row; /* Cambia la dirección del contenedor a fila en dispositivos más grandes */
      justify-content: space-between; /* Ajusta el espacio entre los elementos en dispositivos más grandes */
    }
  
    .left,
    .right {
      flex: 1; /* Divide el espacio disponible en dos partes iguales */
    }
  }
  